@import "tailwindcss";
@import '@nuxt/ui';

@theme static {
  --color-wishr-primary: #6A82FB;
  --color-wishr-orange: #e98247;
  --color-wishr-gray: #847b6d;
}

:root {
  font-family: Outfit, 'sans-serif';
}

body {
  background-color: #F7F6F1;
}